[project]
	description = Generate the files of an Angularjs directive + controller + service + etc... with well chosen component names and file names
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hajda
[access "refs/for/refs/*"]
	read = group user/hajda
	push = group user/hajda
	label-Code-Review = -2..+2 group user/hajda
	label-Verified = -1..+1 group user/hajda
	rebase = group user/hajda
	removeReviewer = group user/hajda
	submit = group user/hajda
[access "refs/heads/*"]
	read = group user/hajda
	create = group user/hajda
	push = +force group user/hajda
	pushMerge = group user/hajda
[access "refs/tags/*"]
	push = group user/hajda
	push = +force group user/hajda
